<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Unlabeled Data</title>
    <link rel="stylesheet" href="/static/css/label.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img class="header-logo" src="/static/images/Logo-ZUYD-Data-Intelligence.svg" alt="Logo">
            <span>Label Unlabeled Data - CHIMP</span>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/kali">Kalibratie lijst</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

        <div class="image-labeling">
            <div class="title">Label Images</div>
            <div class="image-container">
                <img id="imageDisplay" src="" alt="Image to label" />
            </div>
            <div class="button-panel">
                <button class="emotionButton" data-emotion="Angry">😡 Angry</button>
                <button class="emotionButton" data-emotion="Disgust">🤮 Disgust</button>
                <button class="emotionButton" data-emotion="Fear">😨 Fear</button>
                <button class="emotionButton" data-emotion="Happy">😊 Happy</button>
                <button class="emotionButton" data-emotion="Neutral">😐 Neutral</button>
                <button class="emotionButton" data-emotion="Sad">😢 Sad</button>
                <button class="emotionButton" data-emotion="Surprise">😲 Surprise</button>
            </div>
        </div>
    </div>

    <script src="/static/js/label.js"></script>
</body>
</html>
